@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0%;
    }
}

@keyframes slideOut {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

.container {
    border: 2px #f0f0f0 solid;
    padding: 10px;
    box-sizing: border-box;

    border-radius: 16px;

    display: inline-flex;
    flex-direction: column;

    .label {
        font-weight: 800;
        margin-bottom: 10px;
    }

    .cells {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 30px;
        gap: 15px;
        overflow: hidden;

        .cell {
            background-color: #f8f8f8;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 8px;
            overflow: hidden;
            text-align: center;

            transition-property: left;
            transition-duration: 200ms;
            transition-delay: 100ms;
            transition-timing-function: ease-in-out;

            animation-name: appear;
            animation-duration: 100ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
            &.middleCell {
                border: yellow 3px solid;
                background-color: unset;
                box-sizing: border-box;
                left: calc(50% - 15px);

                z-index: 99999999;
            }

            .cellContent {
                position: absolute;
                width: 100%;
                height: 100%;
                animation-duration: 100ms;
                animation-direction: normal;
                animation-fill-mode: forwards;

                line-height: 30px;
                
                vertical-align: middle;

                &.slideIn {
                    animation-name: slideIn;
                }
                &.slideOut {
                    animation-name: slideOut;
                }
            }

            .cellNumber {
                font-size: 0.8rem;
                color: #d3d3d3;
                position: absolute;
                right: 2px;
                bottom: 2px;

                user-select: none;
            }
        }
    }
}